<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
<head>
  <title>Admin | owapi</title>
  <link rel="stylesheet" type="text/css" href="/static/lib/bootstrap/dist/css/bootstrap.min.css">
  <script type="text/javascript" src="/static/lib/jquery/dist/jquery.js"></script>
</head>
<body>
  <div class="container">
    <h1>OWAPI - Admin</h1>
    <section ng-include="'/static/admin/api/views/api.view.html'"></section>
  </div>
  <script type="text/javascript" src="/static/lib/angular/angular.js"></script>
  <script type="text/javascript" src="/static/admin/api/api.module.js"></script>
  <script type="text/javascript" src="/static/admin/api/controllers/api.controller.js"></script>
  <script type="text/javascript" src="/static/admin/application.js"></script>
</body>
</html>
