<form role="form" ng-submit="users.update()">
  <div class="row top-buffer">
    <div class="col-md-12">
      <div class="pull-left owapi-breadcrumb">
        users /
        <a href="#/users/{{ users.user.name }}">{{ users.user.name }}</a></li>
      </div>
      <div class="pull-right">
        <button class="btn btn-primary text-right btn-sm" ng-if="users.isModified">Save changes</button>
        <button class="btn btn-success text-right btn-sm" ng-click="detail.refresh()">Refresh</button>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>

  <div class="row top-buffer">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          Basic user information
        </div>
        <div class="panel-body">
          <p>Username: {{ users.user.name }}</p>
          <p>E-Mail: {{ users.user.email }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row top-buffer">
    <div class="col-md-12">
      <div class="panel panel-danger">
        <div class="panel-heading">
          Account settings
        </div>
        <div class="panel-body">
          <a href="#/users/{{ users.user.name }}"  class="btn btn-danger" ng-click="users.delete()">
            Delete Account
          </a>
        </div>
      </div>
    </div>
  </div>

</form>
